# Find tornadoes closest to NEXRAD sites

In [1]:
import numpy as np
import pandas as pd

## Read all the data

In [40]:
tornadoes = pd.read_csv('~/Box/MapesGroupUndergradResearch/Tyreek/1991-2019_all_tornadoes.csv')

In [53]:
tornadoes[0:5]

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,1,1991,1,14,1/14/91,17:00:00,3,TX,48,1,...,1.0,100,1,1,1,287,0,0,0,0
1,2,1991,1,14,1/14/91,17:50:00,3,TX,48,2,...,0.2,20,1,1,1,21,0,0,0,0
2,3,1991,1,14,1/14/91,18:14:00,3,TX,48,3,...,5.0,60,1,1,1,21,0,0,0,0
3,4,1991,1,14,1/14/91,18:18:00,3,TX,48,4,...,1.5,250,1,1,1,89,0,0,0,0
4,5,1991,1,14,1/14/91,18:18:00,3,TX,48,5,...,0.5,50,1,1,1,481,0,0,0,0

In [79]:
sites = pd.read_table('~/Box/MapesGroupUndergradResearch/Tyreek/WSR88d_locations.txt')

In [80]:
sites[0:5]

  State           Name  Code        Lat    WestLon
0    PR       San Juan  TJUA  18.115600  66.078064
1    ME        Houlton  KCBW  46.039194  67.806603
2    ME  Gray/Portland  KGYX  43.891355  70.256555
3    VT     Burlington  KCXX  44.510994  73.166424
4    MA       Boston\t  KBOX  41.955892  71.136968

## Loop over tornadoes, calculate all site distances

In [81]:
# Starting longitude: how to get the value
tornadoes[23:24]['slon'].values[0]

-82.47

In [87]:
# Site longitude, how to get the value
sites[11:12]['WestLon'].values[0]

74.4108027

# OK, ready for the magic loop
## For each tornado, calculate distance to nearest radar 

Add two columns to tornados DataFrame
1. that distance (so we can sort for the smallest value)
2. radar ID, or better yet build the URL: https://s3.amazonaws.com/noaa-nexrad-level2/index.html#1997/06/06/KAMA/

In [114]:
# loop over the latitudes for convenience
for i in range(50):   #len(tornadoes)): 
    print(tornadoes[i:i+1]['st'].values)
    x = tornadoes[i:i+1]['slon'].values[0]
    y = tornadoes[i:i+1]['slat'].values[0]
    min_dist = 1e9 # start with a large value, and find the minimuum
    
    for j in range(len(sites)):
        # print(sites[j:j+1])
        # dx is distance eastward (using cos of latitude correction on sphere)
        dx = (x + sites[j:j+1]['WestLon'].values[0]) * np.cos(y*3.14/180.)
        dy = y - sites[j:j+1]['Lat'].values[0]
        dist2 = dx*dx + dy*dy
        
        if (dist2 < min_dist): 
            # print(sites[j:j+1], '   DISTANCE ', np.sqrt(dist2))
            min_dist = np.sqrt(dist2)
            closest = j 
    print('')
    print('closest station, distance: ')
    print(sites[closest:closest+1])
    print('DISTANCE (km): ', min_dist*111.111)
    print('')

['TX']

closest station, distance:
   State       Name  Code        Lat    WestLon
82    TX  Fort Hood  KGRK  30.721764  97.382963
DISTANCE (km):  74.2764939911403

['TX']

closest station, distance:
   State       Name  Code        Lat    WestLon
82    TX  Fort Hood  KGRK  30.721764  97.382963
DISTANCE (km):  88.33574091569821

['TX']

closest station, distance:
   State       Name  Code        Lat    WestLon
82    TX  Fort Hood  KGRK  30.721764  97.382963
DISTANCE (km):  84.27882527762189

['TX']

closest station, distance:
   State           Name  Code       Lat    WestLon
76    TX  Austin/SanAnt  KEWX  29.70398  98.028506
DISTANCE (km):  142.7013843665674

['TX']

closest station, distance:
   State          Name  Code        Lat    WestLon
83    TX  Houston/Galv  KHGX  29.471884  95.078859
DISTANCE (km):  100.36889338457704

['TX']

closest station, distance:
   State          Name  Code        Lat    WestLon
83    TX  Houston/Galv  KHGX  29.471884  95.078859
DISTANCE (km):  97.25458462193511

['TX']

closest station, distance:
   State          Name  Code        Lat    WestLon
83    TX  Houston/Galv  KHGX  29.471884  95.078859
DISTANCE (km):  96.39970529401863

['TX']

closest station, distance:
   State          Name  Code        Lat    WestLon
83    TX  Houston/Galv  KHGX  29.471884  95.078859
DISTANCE (km):  92.73707621128142

['TX']

closest station, distance:
   State          Name  Code        Lat    WestLon
83    TX  Houston/Galv  KHGX  29.471884  95.078859
DISTANCE (km):  100.7903644476954

['TX']

closest station, distance:
   State          Name  Code        Lat    WestLon
83    TX  Houston/Galv  KHGX  29.471884  95.078859
DISTANCE (km):  3.1260000106543813

['TX']

closest station, distance:
   State          Name  Code        Lat    WestLon
83    TX  Houston/Galv  KHGX  29.471884  95.078859
DISTANCE (km):  82.5831768907037

['FL']

closest station, distance:
   State     Name  Code        Lat    WestLon
31    FL  Miami\t  KAMX  25.611127  80.412747
DISTANCE (km):  20.362284263051176

['FL']

closest station, distance:
   State     Name  Code        Lat    WestLon
31    FL  Miami\t  KAMX  25.611127  80.412747
DISTANCE (km):  30.13682001481581

['FL']

closest station, distance:
   State     Name  Code        Lat    WestLon
31    FL  Miami\t  KAMX  25.611127  80.412747
DISTANCE (km):  52.4627088384018

['TX']

closest station, distance:
   State           Name  Code       Lat    WestLon
76    TX  Austin/SanAnt  KEWX  29.70398  98.028506
DISTANCE (km):  146.4373686332206

['TX']

closest station, distance:
   State          Name  Code        Lat    WestLon
83    TX  Houston/Galv  KHGX  29.471884  95.078859
DISTANCE (km):  109.55176139045727

['TX']

closest station, distance:
   State           Name  Code       Lat    WestLon
76    TX  Austin/SanAnt  KEWX  29.70398  98.028506
DISTANCE (km):  154.65588150151254

['TX']

closest station, distance:
   State          Name  Code        Lat    WestLon
83    TX  Houston/Galv  KHGX  29.471884  95.078859
DISTANCE (km):  78.51865647546974

['TX']

closest station, distance:
   State          Name  Code        Lat    WestLon
83    TX  Houston/Galv  KHGX  29.471884  95.078859
DISTANCE (km):  48.77399974239904

['TX']

closest station, distance:
   State          Name  Code        Lat    WestLon
83    TX  Houston/Galv  KHGX  29.471884  95.078859
DISTANCE (km):  62.19828999085745

['TX']

closest station, distance:
   State          Name  Code        Lat    WestLon
83    TX  Houston/Galv  KHGX  29.471884  95.078859
DISTANCE (km):  40.147909117197024

['TX']

closest station, distance:
   State          Name  Code        Lat    WestLon
83    TX  Houston/Galv  KHGX  29.471884  95.078859
DISTANCE (km):  100.7903644476954

['TX']

closest station, distance:
   State          Name  Code        Lat    WestLon
83    TX  Houston/Galv  KHGX  29.471884  95.078859
DISTANCE (km):  59.13813752716089

['FL']

closest station, distance:
   State     Name  Code       Lat   WestLon
33    FL  Tampa\t  KTBW  27.70547  82.40179
DISTANCE (km):  31.22913368611584

['FL']

closest station, distance:
   State     Name  Code       Lat   WestLon
33    FL  Tampa\t  KTBW  27.70547  82.40179
DISTANCE (km):  31.682940614158593

['FL']

closest station, distance:
   State     Name  Code       Lat   WestLon
33    FL  Tampa\t  KTBW  27.70547  82.40179
DISTANCE (km):  57.1330689933699

['LA']

closest station, distance:
   State         Name  Code        Lat    WestLon
73    LA  New Orleans  KLIX  30.336713  89.825662
DISTANCE (km):  55.549762284186684

['GA']

closest station, distance:
   State       Name  Code        Lat    WestLon
25    GA  Moody AFB  KVAX  30.890385  83.001902
DISTANCE (km):  119.46293159044583

['FL']

closest station, distance:
   State       Name  Code        Lat    WestLon
27    FL  Eglin AFB  KEVX  30.564991  85.921559
DISTANCE (km):  50.102434203489416

['MO']

closest station, distance:
   State     Name  Code        Lat    WestLon
47    KY  Paducah  KPAH  37.068362  88.772026
DISTANCE (km):  87.8023460897116

['GA']

closest station, distance:
   State        Name  Code        Lat    WestLon
36    AL  Huntsville  KHTX  34.930508  86.083739
DISTANCE (km):  123.39236620687663

['SC']

closest station, distance:
   State     Name  Code        Lat    WestLon
23    SC  GreerSC  KGSP  34.883344  82.220076
DISTANCE (km):  40.88903359626002

['TX']

closest station, distance:
   State        Name  Code        Lat    WestLon
74    LA  Shreveport  KSHV  32.450813  93.841277
DISTANCE (km):  24.13922983098559

['LA']

closest station, distance:
   State        Name  Code        Lat    WestLon
74    LA  Shreveport  KSHV  32.450813  93.841277
DISTANCE (km):  10.19632327313064

['TX']

closest station, distance:
   State           Name  Code       Lat    WestLon
76    TX  Austin/SanAnt  KEWX  29.70398  98.028506
DISTANCE (km):  61.785944342808115

['TX']

closest station, distance:
   State        Name  Code        Lat    WestLon
74    LA  Shreveport  KSHV  32.450813  93.841277
DISTANCE (km):  112.5206358655813

['TX']

closest station, distance:
   State        Name  Code        Lat    WestLon
74    LA  Shreveport  KSHV  32.450813  93.841277
DISTANCE (km):  106.40962251764107

['TX']

closest station, distance:
   State        Name  Code        Lat    WestLon
74    LA  Shreveport  KSHV  32.450813  93.841277
DISTANCE (km):  108.2871190950369

['CA']

closest station, distance:
    State           Name  Code        Lat     WestLon
136    CA  SantaAnaMount  KSOX  33.817645  117.635974
DISTANCE (km):  18.01846583417281

['CA']

closest station, distance:
    State           Name  Code        Lat    WestLon
135    CA  SanJoaquinVal  KHNX  36.314209  119.63209
DISTANCE (km):  16.77726080708074

['LA']

closest station, distance:
   State          Name  Code        Lat    WestLon
72    LA  Lake Charles  KLCH  30.125382  93.216119
DISTANCE (km):  91.16255474225171

['LA']

closest station, distance:
   State          Name  Code        Lat    WestLon
72    LA  Lake Charles  KLCH  30.125382  93.216119
DISTANCE (km):  94.43525657139173

['LA']

closest station, distance:
   State         Name  Code        Lat    WestLon
73    LA  New Orleans  KLIX  30.336713  89.825662
DISTANCE (km):  134.71905270757009

['LA']

closest station, distance:
   State         Name  Code        Lat    WestLon
73    LA  New Orleans  KLIX  30.336713  89.825662
DISTANCE (km):  113.1300591273609

['AL']

closest station, distance:
   State        Name  Code        Lat    WestLon
34    AL  Birmingham  KBMX  33.172281  86.769843
DISTANCE (km):  163.22147587869446

['AL']

closest station, distance:
   State      Name  Code        Lat    WestLon
38    AL  Mobile\t  KMOB  30.679538  88.239782
DISTANCE (km):  78.11717548371841

['KS']

closest station, distance:
   State    Name  Code        Lat    WestLon
94    KS  Topeka  KTWX  38.996998  96.232618
DISTANCE (km):  52.09830795493506

['KS']

closest station, distance:
   State         Name  Code        Lat    WestLon
66    MO  Kansas City  KEAX  38.810223  94.264492
DISTANCE (km):  78.0982368364335

['SC']

closest station, distance:
   State      Name  Code        Lat    WestLon
22    SC  Columbia  KCAE  33.948758  81.118428
DISTANCE (km):  83.9567532340963

['SC']

closest station, distance:
   State      Name  Code        Lat    WestLon
22    SC  Columbia  KCAE  33.948758  81.118428
DISTANCE (km):  114.43839965216603